* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
}


.book-cover {
    width: 400px;
    height: 600px;

    background-image: url("image cover.jpeg");
    background-size: cover;
    background-position: center;

    position: relative;
    border-radius: 12px;
    box-shadow:
        0 10px 25px rgba(0,0,0,0.7),
        inset 0 0 0 1px rgba(221, 216, 216, 0.13);
    overflow: hidden;
}


.content {
    position: relative;
    height: 100%;
    padding: 36px 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
}

.content h1 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
}


.tagline {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
    margin: 12px 0 25px;
    text-align: top;
}

.content span {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.9;
}